<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DupFinder42Folders.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <DupFinder42Folders.Properties.Settings>
            <setting name="ImageFileExtensions" serializeAs="String">
                <value>png jpg jpeg tif tiff bmp svg webp avif apng ico cur</value>
            </setting>
            <setting name="AudioFileExtensions" serializeAs="String">
                <value>aac aiff alac flac mp3 ogg wav wma</value>
            </setting>
            <setting name="VideoFileExtensions" serializeAs="String">
                <value>webm mkv flv ogv avi wmv mov rm rmvb amv mp4 mpg mp2 mpeg m4v 3gp</value>
            </setting>
            <setting name="PdfFileExtensions" serializeAs="String">
                <value>pdf</value>
            </setting>
            <setting name="WordFileExtensions" serializeAs="String">
                <value>doc docx docm dot dotm dotx odt rtf</value>
            </setting>
            <setting name="ExcelFileExtensions" serializeAs="String">
                <value>csv xls xlsx xla xlam xlsb xlsm xlt xltm xltx xlw ods</value>
            </setting>
            <setting name="PowerPointFileExtensions" serializeAs="String">
                <value>pot potm potx ppa ppam pps ppsm ppsx ppt pptm pptx odp</value>
            </setting>
            <setting name="CompressedFileExtensions" serializeAs="String">
                <value>zip tar gz tgz 7z rar</value>
            </setting>
            <setting name="DiskImageFileExtensions" serializeAs="String">
                <value>dmg iso img</value>
            </setting>
            <setting name="CodeFileExtensions" serializeAs="String">
                <value>c cpp h cgi php java py sh swith vb asp aspx css htm html js xml</value>
            </setting>
        </DupFinder42Folders.Properties.Settings>
    </applicationSettings>
</configuration>